.panel.user-menu {
  background-color: #3f6aa3;

}

#add-site {
  background: #3f6aa3 url(../img/orange-bg.png);

}

#app-dialog > div {
  background: #3f6aa3;
}

.header-main {
  background-color: #3f6aa3;
}


